h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
h1 {
    margin-top: 50px;
}
h2 {
    margin-top: 70px;
}
h3 {
    margin-top: 30px;
}
h4, h5, h6 {
    margin-top: 20px;
}

#navigation {
    margin-top:35px;
}
.hljs {
    background-color:#f5f5f5;
}
.navbar-center
{
    position: absolute;
    left: 50%;
    margin: auto;
    display: inline-block;
}
.navbar-center a {
    position: absolute;
    left:-15px;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.footer {
    padding-top: 10px;
    margin-top:50px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .bs-docs-sidebar .nav>.active>ul {
        display:block
    }

    .bs-docs-sidebar.affix,
    .bs-docs-sidebar.affix-bottom {
        width: 213px
    }

    .bs-docs-sidebar.affix {
        position: fixed;
        top: 20px
    }

    .bs-docs-sidebar.affix-bottom {
        position: absolute
    }

    .bs-docs-sidebar.affix .bs-docs-sidenav,
    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width: 1200px) {
    .bs-docs-sidebar.affix,
    .bs-docs-sidebar.affix-bottom {
        width:263px
    }
}

@media (min-width: 768px) {
    .bs-docs-sidebar {
        padding-left:20px
    }
}

.bs-docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px
}

.bs-docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}

.bs-docs-sidebar .nav>li>a:focus,
.bs-docs-sidebar .nav>li>a:hover {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c
}

.bs-docs-sidebar .nav>.active:focus>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active>a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c
}

.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px
}

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 34px;
    font-size: 12px;
    font-weight: 400
}

.bs-docs-sidebar .nav .nav>li>a:focus,
.bs-docs-sidebar .nav .nav>li>a:hover {
    padding-left: 33px
}

.bs-docs-sidebar .nav .nav>.active:focus>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active>a {
    padding-left: 32px;
    font-weight: 500
}

.bs-docs-sidebar .nav .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 36px;
    font-size: 10px;
    font-weight: 400
}

.bs-docs-sidebar .nav .nav .nav>li>a:focus,
.bs-docs-sidebar .nav .nav .nav>li>a:hover {
    padding-left: 35px
}

.bs-docs-sidebar .nav .nav .nav>li.active>a:focus,
.bs-docs-sidebar .nav .nav .nav>li.active>a:hover,
.bs-docs-sidebar .nav .nav .nav>li.active>a {
    padding-left: 34px
}



.caption-fix {
    width:100%;
    padding:0px;
    margin-top:20px;
    margin-bottom:40px;
}

.caption{
    margin-top:10px;
    width: 100%;
    text-align: center;
    font-style: italic;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h1,.bs-callout h2,.bs-callout h3,.bs-callout h4  {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
    margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}